<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job loads genomic (VCF) metadata into the HPDS format.  it expects the following elements to be loaded into the $DOCKER_CONFIG_DIR/vcfLoad directory on this machine:&#xd;
&#xd;
vcfIndex.tsv - a file describing the VCF file(s) to be loaded&#xd;
&#xd;
All vcf file(s) described by the vcfIndex.tsv that will be read and converted to the hpds format&#xd;
&#xd;
When this job is complete, restart the PIC-SURE services for access to the data.
</description>
  <keepDependencies>false</keepDependencies>
   <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
      <hudson.model.StringParameterDefinition>
            <name>HEAPSIZE</name>
          <description>the amount of memory to allocate for this operation</description>
          <defaultValue>20480</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
cp /usr/local/docker-config/vcfLoad/vcfIndex.tsv /usr/local/docker-config/hpds/

docker run \
  -v $DOCKER_CONFIG_DIR/hpds:/opt/local/hpds \
  -v $DOCKER_CONFIG_DIR/vcfLoad:/opt/local/hpds/vcfInput \
  -v $DOCKER_CONFIG_DIR/hpds/all:/opt/local/hpds/vcfOutput \
  -e HEAPSIZE=$HEAPSIZE -e LOADER_NAME=VariantMetadataLoader hms-dbmi/pic-sure-hpds-etl:LATEST 
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
