<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions />
  <description>This configures PIC-SURE for the DB, but also configures the DB for PIC-SURE.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MYSQL_HOST_NAME</name>
          <description>The server name on which MySQL is running</description>
          <defaultValue>192.168.1.244</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MYSQL_USER_NAME</name>
          <description>The root username for the MySQL Database. The user should privileges to create users in the system.</description>
          <defaultValue>root</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>MYSQL_PASSWORD</name>
          <description>The root user password for the MySQL Database</description>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MYSQL_PORT</name>
          <description>MySQL server is listening on,  used by MySQL client, MySQL Connectors</description>
          <defaultValue>3306</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>DROP_EXISTING_TABLES</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>FALSE</string>
              <string>TRUE</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM" />
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers />
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/env bash
echo "Configure Remote MySql Instance"
FILE="/root/.my.cnf"
cat &lt;&lt;EOM &gt;$FILE
[mysql]
user=$MYSQL_USER_NAME
password="$MYSQL_PASSWORD"
host=$MYSQL_HOST_NAME
port=$MYSQL_PORT
EOM
echo ""


flyway_auth_url=jdbc:mysql://$MYSQL_HOST_NAME:$MYSQL_PORT/auth?serverTimezone=UTC
flyway_picsure_url=jdbc:mysql://$MYSQL_HOST_NAME:$MYSQL_PORT/picsure?serverTimezone=UTC

cd /usr/local/docker-config/flyway/auth
sed -i '/flyway.url/d' ./flyway-auth.conf
sed -i "1iflyway.url=$flyway_auth_url" ./flyway-auth.conf
sed -i '/host/d' ./sql.properties
sed -i "1ihost=$MYSQL_HOST_NAME" ./sql.properties
sed -i '/port/d' ./sql.properties
sed -i "2iport=$MYSQL_PORT" ./sql.properties

cd /usr/local/docker-config/flyway/picsure
sed -i '/flyway.url/d' ./flyway-picsure.conf
sed -i "1iflyway.url=$flyway_picsure_url" ./flyway-picsure.conf
sed -i '/host/d' ./sql.properties
sed -i "1ihost=$MYSQL_HOST_NAME" ./sql.properties
sed -i '/port/d' ./sql.properties
sed -i "2iport=$MYSQL_PORT" ./sql.properties

sed -i 's/jdbc:mysql*.*auth/jdbc:mysql:\/\/'$MYSQL_HOST_NAME':'$MYSQL_PORT'\/auth/g' /usr/local/docker-config/psama/psama.env

# picsure DB owner is now the operations-service; point it at the remote instance too.
OPS_ENV=/usr/local/docker-config/operations/operations.env
PICSURE_PASSWORD=""

# Creating this file (or its directory) would switch INCLUDE_OPERATIONS on in
# start-picsure.sh and deploy operations-service with no internal tokens.
if [ ! -f "$OPS_ENV" ]; then
  echo "operations.env is not present; skipping operations-service wiring."
  echo "Run 'Migrate PIC-SURE Environment' or the Initial Configuration Pipeline first, then rerun this job."
else
  PICSURE_PASSWORD=$(grep '^SPRING_DATASOURCE_PASSWORD=' "$OPS_ENV" | cut -d '=' -f 2-)
  if [ -z "$PICSURE_PASSWORD" ] || [ "$PICSURE_PASSWORD" = "__PICSURE_MYSQL_PASSWORD__" ]; then
    PICSURE_PASSWORD=$(tr -dc 'A-Za-z0-9' &lt; /dev/urandom | head -c 24)
    if grep -q '^SPRING_DATASOURCE_PASSWORD=' "$OPS_ENV"; then
      sed -i "s|^SPRING_DATASOURCE_PASSWORD=.*|SPRING_DATASOURCE_PASSWORD=$PICSURE_PASSWORD|" "$OPS_ENV"
    else
      echo "SPRING_DATASOURCE_PASSWORD=$PICSURE_PASSWORD" &gt;&gt; "$OPS_ENV"
    fi
  fi

  if grep -q '^SPRING_DATASOURCE_URL=' "$OPS_ENV"; then
    sed -i 's|^SPRING_DATASOURCE_URL=.*|SPRING_DATASOURCE_URL=jdbc:mysql://'$MYSQL_HOST_NAME':'$MYSQL_PORT'/picsure?useUnicode=true\&amp;characterEncoding=UTF-8\&amp;autoReconnect=true\&amp;autoReconnectForPools=true\&amp;serverTimezone=UTC|' "$OPS_ENV"
  else
    echo 'SPRING_DATASOURCE_URL=jdbc:mysql://'$MYSQL_HOST_NAME':'$MYSQL_PORT'/picsure?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;autoReconnectForPools=true&amp;serverTimezone=UTC' &gt;&gt; "$OPS_ENV"
  fi
fi

AIRFLOW_PASSWORD=`grep "password" /usr/local/docker-config/flyway/auth/sql.properties | cut -d "=" -f2-`
AUTH_PASSWORD=`grep '^DATASOURCE_PASSWORD=' /usr/local/docker-config/psama/psama.env | cut -d '=' -f 2-`

docker run --rm -i -v $MYSQL_CONFIG_DIR/.my.cnf:/root/.my.cnf mysql mysql -e  "grant all privileges on auth.* to 'airflow'@'%' identified by '$AIRFLOW_PASSWORD';flush privileges;" mysql
docker run --rm -i -v $MYSQL_CONFIG_DIR/.my.cnf:/root/.my.cnf mysql mysql -e  "grant all privileges on picsure.* to 'airflow'@'%' identified by '$AIRFLOW_PASSWORD';flush privileges;" mysql
if [ -n "$PICSURE_PASSWORD" ]; then
  docker run --rm -i -v $MYSQL_CONFIG_DIR/.my.cnf:/root/.my.cnf mysql mysql -e  "grant all privileges on picsure.* to 'picsure'@'%' identified by '$PICSURE_PASSWORD';flush privileges;" mysql
else
  echo "No operations-service password configured; leaving the picsure MySQL user untouched."
fi
docker run --rm -i -v $MYSQL_CONFIG_DIR/.my.cnf:/root/.my.cnf mysql mysql -e  "grant all privileges on auth.* to 'auth'@'%' identified by '$AUTH_PASSWORD';flush privileges;" mysql

if [ "$DROP_EXISTING_TABLES" = "TRUE" ]; then
  docker run --rm -i -v $MYSQL_CONFIG_DIR/.my.cnf:/root/.my.cnf mysql mysql -e  "drop database IF EXISTS auth;" mysql
  docker run --rm -i -v $MYSQL_CONFIG_DIR/.my.cnf:/root/.my.cnf mysql mysql -e  "drop database IF EXISTS picsure;" mysql
fi

docker run --rm -i -v $MYSQL_CONFIG_DIR/.my.cnf:/root/.my.cnf mysql mysql -e  "create database IF NOT EXISTS auth;" mysql
docker run --rm -i -v $MYSQL_CONFIG_DIR/.my.cnf:/root/.my.cnf mysql mysql -e  "create database IF NOT EXISTS picsure;" mysql
      </command>
      <configuredLocalRules />
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>PIC-SURE Database Migrations</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers />
</project>
