<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1571.vb_423c255d6d9">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>AUTH0_CLIENT_ID</name>
          <defaultValue>__PIC_SURE_CLIENT_ID__</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AUTH0_CLIENT_SECRET</name>
          <defaultValue>__PIC_SURE_CLIENT_SECRET__</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AUTH0_TENANT</name>
          <defaultValue>avillachlab</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ADMIN_USER_EMAIL</name>
          <description>The email address for the initial admin user.  This should be a Google account.</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PROJECT_MIGRATION_NAME</name>
          <description>Name of the migration to run, see https://github.com/hms-dbmi/PIC-SURE-Migrations or fork it and add your migration</description>
          <defaultValue>Baseline</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_CONTROL_REPOSITORY</name>
          <description>This must be the project specific release control git repository that contains the git commit hashes that will be built and deployed.</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ENABLE_OPEN_ACCESS</name>
          <description>Enable Discover using the dedicated open HPDS backend.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ENABLE_EXPLORE_WITHOUT_LOGIN</name>
          <description>Allow anonymous users to use Explorer against the authenticated HPDS backend.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CONFIRM_AUTH_HPDS_PUBLIC</name>
          <description>I understand that Explore Without Login makes authenticated HPDS data publicly accessible.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DASHBOARD</name>
          <description>Enable the Dashboard page which allows users to search across all data in the project.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DIST_EXPLORER</name>
          <description>Enable the distribution explorer page which creates visualizations of the data.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>VITE_ALLOW_EXPORT_ENABLED</name>
          <description>Enables the export button on the search results page.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>API</name>
          <description>Shows the user information on how to use the API and allows them to access their LONG_TERM_TOKEN.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ALLOW_EXPORT</name>
          <description>This enables the prepare for analysis button which guides the user through your export process. There are a few different settings below to control how the user may receive their data in the end.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DOWNLOAD_AS_CSV</name>
          <description>Allows the user to download their data at the end of the export process as a CSV file.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SHOW_VARIABLE_EXPORT</name>
          <description>Allow adding export variables via the search results UI.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SHOW_VARIABLE_HIERARCHY</name>
          <description>Shows the hierarchy button for each search result and enables the hierarchy screen in the export process.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DOWNLOAD_AS_PFB</name>
          <description>Allows the user to download their data at the end of the export process as a PFB file.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DATA_REQUESTS</name>
          <description>Enables data request functionality.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>TOUR</name>
          <description>Enable the tour feature which guides the user through the application.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TOUR_SEARCH_TERM</name>
          <description>The tour preforms a search. You can specify the search term here.</description>
          <defaultValue>age</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Dataset</name>
          <description>Select the dataset to download</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Nhanes</string>
              <string>Synthea_10k</string>
              <string>1000_Genomes</string>
              <string>All Public Studies</string>
              <string>Custom</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Dataset_Branch</name>
          <defaultValue>main</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Allow_HPDS_Data_Export</name>
          <description>If set to true user will be able to download HPDS Data.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Include_Dataset_Facets</name>
          <description>If set to true, the first concept path nodes will be automatically converted into datasets.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4255.vd9c37f80fd8a_">
    <script>def retrieveBuildSpecId;
def pipelineBuildId;
def migrationBuildNumber;
pipeline {
    agent any
    stages {
        stage(&apos;Set Project Up&apos;) {
            steps {
                script {
                    sh &quot;&quot;&quot;
                        sed -i &quot;s|__RELEASE_CONTROL_REPO__|$env.RELEASE_CONTROL_REPOSITORY|g&quot; /var/jenkins_home/config.xml
                        sed -i &quot;s|__PROJECT_SPECIFIC_MIGRATION_NAME__|$env.PROJECT_MIGRATION_NAME|g&quot; /var/jenkins_home/config.xml
                    &quot;&quot;&quot;
                    Jenkins.instance.doReload()
                }

                script {
                    def result = build job: &apos;Retrieve Build Spec&apos;
                    retrieveBuildSpecId = result.number
                }

                script {
                    copyArtifacts filter: &apos;*&apos;, projectName: &apos;Retrieve Build Spec&apos;, selector: specific(&quot;&quot;+retrieveBuildSpecId)
                    sh &apos;cat build-spec.json&apos;
                    sh &apos;cat pipeline_git_commit.txt&apos;
                    sh &apos;pwd&apos;
                    pipelineBuildId = new File(&apos;/var/jenkins_home/workspace/Initial Configuration Pipeline/pipeline_git_commit.txt&apos;).text.trim()
                }
            }
        }

        stage(&apos;Confirm Authenticated HPDS Is Public&apos;) {
            when {
                expression { env.ENABLE_EXPLORE_WITHOUT_LOGIN.toBoolean() &amp;&amp; !env.CONFIRM_AUTH_HPDS_PUBLIC.toBoolean() }
            }
            steps {
                error(&apos;CONFIRM_AUTH_HPDS_PUBLIC must be true when ENABLE_EXPLORE_WITHOUT_LOGIN=true.&apos;)
            }
        }

        stage(&apos;Write and Validate Configuration&apos;) {
            steps {
                script {
                    sh &quot;[ ! -f /usr/local/docker-config/httpd/httpd.env ] || cp -rf /usr/local/docker-config/httpd/httpd.env /usr/local/docker-config/httpd/httpd.env.bak&quot;
                    sh &quot;install -m 664 /dev/null .env&quot;
                    sh &quot;echo &apos;VITE_PROJECT_HOSTNAME=&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_ORIGIN=&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_LOGO=&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_AUTH0_TENANT=$env.AUTH0_TENANT&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_DISCOVER=$env.ENABLE_OPEN_ACCESS&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_DASHBOARD=$env.DASHBOARD&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_DIST_EXPLORER=$env.DIST_EXPLORER&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_API=$env.API&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_ALLOW_EXPORT=$env.ALLOW_EXPORT&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_ALLOW_EXPORT_ENABLED=$env.VITE_ALLOW_EXPORT_ENABLED&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_DOWNLOAD_AS_CSV=$env.DOWNLOAD_AS_CSV&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_SHOW_VARIABLE_EXPORT=$env.SHOW_VARIABLE_EXPORT&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_SHOW_VARIABLE_HIERARCHY=$env.SHOW_VARIABLE_HIERARCHY&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_DOWNLOAD_AS_PFB=$env.DOWNLOAD_AS_PFB&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_DATA_REQUESTS=$env.DATA_REQUESTS&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_TOUR=$env.TOUR&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_TOUR_SEARCH_TERM=$env.TOUR_SEARCH_TERM&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_REQUIRE_CONSENTS=false&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_USE_QUERY_TEMPLATE=false&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_ENABLE_TOS=true&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;#Login Provider (You may add as many as you would like):&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_AUTH_PROVIDER_MODULE_GOOGLE=true&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_AUTH_PROVIDER_MODULE_GOOGLE_TYPE=AUTH0&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_AUTH_PROVIDER_MODULE_GOOGLE_CLIENTID=$env.AUTH0_CLIENT_ID&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_AUTH_PROVIDER_MODULE_GOOGLE_CONNECTION=google-oauth2&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_AUTH_PROVIDER_MODULE_GOOGLE_DESCRIPTION=Login&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;#Google Analytics settings (leave blank to disable):&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_GOOGLE_ANALYTICS_ID=&apos; &gt;&gt; .env&quot;
                    sh &quot;echo &apos;VITE_GOOGLE_TAG_MANAGER_ID=&apos; &gt;&gt; .env&quot;
                    sh &quot;mv .env &apos;/usr/local/docker-config/httpd/httpd.env&apos;&quot;

                    def result = build job: &apos;Enable Explore Without Login&apos;, parameters: [
                        [$class: &apos;BooleanParameterValue&apos;, name: &apos;ENABLE_EXPLORE_WITHOUT_LOGIN&apos;, value: env.ENABLE_EXPLORE_WITHOUT_LOGIN.toBoolean()],
                        [$class: &apos;BooleanParameterValue&apos;, name: &apos;CONFIRM_AUTH_HPDS_PUBLIC&apos;, value: env.CONFIRM_AUTH_HPDS_PUBLIC.toBoolean()]
                    ]
                }
            }
        }

        stage(&apos;Initial Service Configuration&apos;) {
            steps {
                parallel (
                    auth0Config: {
                        script {
                            def result = build job: &apos;Configure Auth0 Integration&apos;, parameters: [
                                [$class: &apos;StringParameterValue&apos;, name: &apos;AUTH0_CLIENT_ID&apos;, value:env.AUTH0_CLIENT_ID],
                                [$class: &apos;StringParameterValue&apos;, name: &apos;AUTH0_CLIENT_SECRET&apos;, value: env.AUTH0_CLIENT_SECRET],
                                [$class: &apos;StringParameterValue&apos;, name: &apos;AUTH0_TENANT&apos;, value: env.AUTH0_TENANT]
                            ]
                        }
                    },
                    addRootCerts: {
                        script {
                            catchError(buildResult: &apos;SUCCESS&apos;, stageResult: &apos;UNSTABLE&apos;) {
                                def result = build job: &apos;Create Root Certs in TrustStore&apos;
                            }
                        }
                    }
                )
            }
        }

        stage(&apos;Migrations&apos;) {
            steps {
                script {
                    def result = build job: &apos;PIC-SURE Database Migrations&apos;, parameters: [
                        [$class: &apos;StringParameterValue&apos;, name: &apos;release_control_commit&apos;, value: pipelineBuildId]
                    ]
                    migrationBuildNumber = result.number
                }
            }
        }

        stage(&apos;Application Build&apos;) {
            steps {
                script {
                    def result = build job: &apos;PIC-SURE Pipeline&apos;, parameters: [
                        [$class: &apos;StringParameterValue&apos;, name: &apos;release_control_commit&apos;, value: pipelineBuildId],
                        [$class: &apos;StringParameterValue&apos;, name: &apos;migration_build_number&apos;, value: &quot;&quot; + migrationBuildNumber]
                    ]
                }
            }
        }

        stage(&apos;Post Migration Configs&apos;) {
            steps {
                parallel (
                    adminConfig: {
                        script {
                            def result = build job: &apos;Create Admin User&apos;, parameters: [
                                [$class: &apos;StringParameterValue&apos;, name: &apos;EMAIL&apos;, value:env.ADMIN_USER_EMAIL],
                                [$class: &apos;StringParameterValue&apos;, name: &apos;CONNECTION_LABEL&apos;, value: &quot;Google&quot;]
                            ]
                        }
                    },
                    tokenIntroToken: {
                        script {
                            def result = build job: &apos;Configure PIC-SURE Token Introspection Token&apos;
                        }
                    },
                    encryptionKey: {
                        script {
                            def result = build job: &apos;Create HPDS Encryption Key&apos;
                        }
                    }
                )
            }
        }


        stage(&apos;Apply Configuration&apos;) {
            steps {
                script {
                    // The gateway came up in Application Build with the token
                    // placeholder; Post Migration Configs only wrote the real one to
                    // gateway.env. Recreate the stack now rather than leaving it stale
                    // for the whole demo-data load.
                    def result = build job: &apos;Start PIC-SURE&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;pipeline_build_id&apos;, value: pipelineBuildId]]
                }
            }
        }

        stage(&apos;Load Demo Data&apos;) {
            steps {
                script {
                    def result = build job: &apos;Load HPDS and Dictionary Data&apos;, parameters: [
                        [$class: &apos;StringParameterValue&apos;, name: &apos;Dataset&apos;, value: env.Dataset],
                        [$class: &apos;StringParameterValue&apos;, name: &apos;Dataset_Branch&apos;, value: env.Dataset_Branch],
                        [$class: &apos;BooleanParameterValue&apos;, name: &apos;Allow_HPDS_Data_Export&apos;, value: env.Allow_HPDS_Data_Export],
                        [$class: &apos;BooleanParameterValue&apos;, name: &apos;Clear_Dictionary_Database&apos;, value: true],
                        [$class: &apos;BooleanParameterValue&apos;, name: &apos;Include_Dataset_Facets&apos;, value: env.Include_Dataset_Facets]
                    ]
                }
            }
        }

        stage(&apos;Deploy&apos;) {
            steps {
                script {
                    def result = build job: &apos;Start PIC-SURE&apos;, parameters: [[$class: &apos;StringParameterValue&apos;, name: &apos;pipeline_build_id&apos;, value: pipelineBuildId]]
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
