<?xml version='1.1' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>ANALYTICS_ID</name>
                    <description>Google Analytics id. Reset to default to remove.</description>
                    <defaultValue>__ANALYTICS_ID__</defaultValue>
                    <trim>false</trim>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>#!/bin/bash

                # If the $ANALYTICS_ID variable is blank, set it to __ANALYTICS_ID__
                : ${ANALYTICS_ID:="__ANALYTICS_ID__"}

                # Check for the presence of the analytics_id key and fetch its value
                value=$(jq -r 'select(.analytics_id != null) | .analytics_id' /usr/local/docker-config/httpd/picsureui_settings.json)

                # Check if the key is missing
                if [[ -z $value ]]; then
                # Add the analytics_id key with value of $ANALYTICS_ID
                jq --arg ANALYTICS_ID "$ANALYTICS_ID" '. + {"analytics_id": $ANALYTICS_ID}' /usr/local/docker-config/httpd/picsureui_settings.json > /tmp/temp.json && mv /tmp/temp.json /usr/local/docker-config/httpd/picsureui_settings.json
                else
                # Replace the old value with the value of $ANALYTICS_ID
                jq --arg ANALYTICS_ID "$ANALYTICS_ID" '.analytics_id = $ANALYTICS_ID' /usr/local/docker-config/httpd/picsureui_settings.json > /tmp/temp.json && mv /tmp/temp.json /usr/local/docker-config/httpd/picsureui_settings.json
                fi
            </command>
        </hudson.tasks.Shell>
    </builders>
    <publishers/>
    <buildWrappers/>
</project>