<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Fail closed unless the selected PIC-SURE Database Migrations build completed successfully.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>migration_build_number</name>
          <defaultValue></defaultValue>
          <description>Completed PIC-SURE Database Migrations build number.</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.groovy.SystemGroovy plugin="groovy@2.2">
      <source class="hudson.plugins.groovy.StringSystemScriptSource">
        <script plugin="script-security@1.71">
          <script>import jenkins.model.Jenkins
import hudson.model.Result

def migrationBuildNumber = build.getEnvironment(listener).get(&quot;migration_build_number&quot;)
if (!(migrationBuildNumber ==~ /[1-9][0-9]*/)) {
    throw new Exception(&quot;A positive migration_build_number is required&quot;)
}
def migrationJob = Jenkins.instance.getItemByFullName(&quot;PIC-SURE Database Migrations&quot;)
def migrationRun = migrationJob?.getBuildByNumber(migrationBuildNumber.toInteger())
if (migrationRun == null || migrationRun.result != Result.SUCCESS) {
    throw new Exception(&quot;PIC-SURE Database Migrations build ${migrationBuildNumber} is not a completed successful build&quot;)
}
</script>
          <sandbox>false</sandbox>
        </script>
      </source>
    </hudson.plugins.groovy.SystemGroovy>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
