<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1400.v7fd111b_ec82f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2218.v56d0cda_37c72"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2218.v56d0cda_37c72">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>release_control_commit</name>
          <defaultValue></defaultValue>
          <description>Exact release-control commit for an orchestrated update.</description>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4009.v0089238351a_9">
    <script>import groovy.json.JsonSlurper;
def psa_ref = &apos;&apos;
def psm_ref = &apos;&apos;


node {
    stage(&apos;Retrieve Build Spec&apos;) {
        script {
            if (!(params.release_control_commit ==~ /[0-9a-f]{40}/)) {
                error(&apos;PIC-SURE Database Migrations requires an exact release_control_commit; use Check For Updates.&apos;)
            }
            def result = build job: &apos;Retrieve Pinned Build Spec&apos;, parameters: [
                [$class: &apos;StringParameterValue&apos;, name: &apos;release_control_commit&apos;, value: params.release_control_commit]
            ]
            retrieveBuildSpecId = result.number
        }
        script {
            copyArtifacts filter: &apos;*&apos;, projectName: &apos;Retrieve Pinned Build Spec&apos;, selector: specific(&quot;&quot;+retrieveBuildSpecId)
            sh &apos;cat build-spec.json&apos;
            sh &apos;cat pipeline_git_commit.txt&apos;
            sh &apos;pwd&apos;
            sh &apos;ls&apos;
            sh &apos;/scripts/validate-build-spec.sh build-spec.json&apos;
            def path = pwd()
            def filePath = path + &apos;/build-spec.json&apos;
            echo filePath
            def buildSpec = new JsonSlurper().parse(new File(filePath))

            for(def build : buildSpec.application){
                if(build.project_job_git_key.equalsIgnoreCase(&quot;PSA&quot;)) {
                    psa_ref = build.git_hash
                    echo &apos;psa_ref &apos; + psa_ref
                }
                if(build.project_job_git_key.equalsIgnoreCase(&quot;PSM&quot;)) {
                    psm_ref = build.git_hash
                    echo &apos;psm_ref &apos; + psm_ref
                }
            }
            if(psa_ref.isEmpty() || psm_ref.isEmpty()) {
                currentBuild.result = &apos;ABORTED&apos;
                echo &apos;psa_ref = &apos; + psa_ref
                echo &apos;psm_ref = &apos; + psm_ref
                error(&apos;Build Spec Not configured correctly!&apos;)
            }
        }
    }
    stage(&apos;Checkout Monorepo&apos;) {
        checkout([$class: &apos;GitSCM&apos;, branches: [[name: psa_ref ]],
                  extensions: [[$class: &apos;PruneStaleBranch&apos;]],
                  userRemoteConfigs: [[url: &apos;https://github.com/hms-dbmi/pic-sure&apos;]]])
    }
    stage(&apos;Auth Schema Migration&apos;) {
        def image = docker.image(&apos;dbmi/pic-sure-db-migrations:pic-sure-db-migration_v1.0&apos;)
        image.pull()
        docker.image(&apos;dbmi/pic-sure-db-migrations:pic-sure-db-migration_v1.0&apos;).inside(&apos;--network=picsure -v $DOCKER_CONFIG_DIR/flyway/auth:/opt/flyway-migrations/auth &quot;--entrypoint=&quot; &apos;) {
            sh &quot;rm -rf /opt/flyway-migrations/auth/sql&quot;
            sh &quot;cp -R ./services/pic-sure-auth-microapp/pic-sure-auth-db/db/sql /opt/flyway-migrations/auth/sql&quot;
            sh &quot;/opt/flyway/flyway -X -configFiles=/opt/flyway-migrations/auth/flyway-auth.conf migrate&quot;
            sleep(time:1,unit:&quot;SECONDS&quot;)
        }
    }
    stage(&apos;Picsure Schema Migration&apos;) {
        docker.image(&apos;dbmi/pic-sure-db-migrations:pic-sure-db-migration_v1.0&apos;).inside(&apos;--network=picsure -v $DOCKER_CONFIG_DIR/flyway/picsure:/opt/flyway-migrations/picsure &quot;--entrypoint=&quot; &apos;) {
            sh &quot;rm -rf /opt/flyway-migrations/picsure/sql&quot;
            sh &quot;cp -R ./services/pic-sure-operations-service/db/sql /opt/flyway-migrations/picsure/sql&quot;
            sh &quot;/opt/flyway/flyway -X -configFiles=/opt/flyway-migrations/picsure/flyway-picsure.conf migrate&quot;
            sleep(time:1,unit:&quot;SECONDS&quot;)
        }
    }
    stage(&apos;Project Specific Migrations&apos;) {
        checkout([$class: &apos;GitSCM&apos;, branches: [[name: psm_ref ]],
                  extensions: [[$class: &apos;PruneStaleBranch&apos;]],
                  userRemoteConfigs: [[url: MIGRATION_REPO]]])
        sh &quot;&quot;&quot;
            sed -i &quot;s/__APPLICATION_UUID__/`cat /usr/local/docker-config/APP_ID_HEX`/g&quot; ./${MIGRATION_NAME}/auth/*.sql
            sed -i &quot;s/__RESOURCE_UUID__/`cat /usr/local/docker-config/RESOURCE_ID_HEX`/g&quot; ./${MIGRATION_NAME}/picsure/*.sql
        &quot;&quot;&quot;
        docker.image(&apos;dbmi/pic-sure-db-migrations:pic-sure-db-migration_v1.0&apos;).inside(&apos;--network=picsure -v $DOCKER_CONFIG_DIR/flyway/picsure:/opt/flyway-migrations/picsure &quot;--entrypoint=&quot; &apos;) {
            sh &quot;rm -rf /opt/flyway-migrations/picsure/sql&quot;
            sh &quot;cp -R ./${MIGRATION_NAME}/picsure /opt/flyway-migrations/picsure/sql&quot;
            sh &quot;/opt/flyway/flyway -X -baselineOnMigrate=true -configFiles=/opt/flyway-migrations/picsure/flyway-picsure.conf -table=flyway_custom_schema_history migrate&quot;
            sleep(time:1,unit:&quot;SECONDS&quot;)
        }
        docker.image(&apos;dbmi/pic-sure-db-migrations:pic-sure-db-migration_v1.0&apos;).inside(&apos;--network=picsure -v $DOCKER_CONFIG_DIR/flyway/auth:/opt/flyway-migrations/auth &quot;--entrypoint=&quot; &apos;) {
            sh &quot;rm -rf /opt/flyway-migrations/auth/sql&quot;
            sh &quot;cp -R ./${MIGRATION_NAME}/auth /opt/flyway-migrations/auth/sql&quot;
            sh &quot;/opt/flyway/flyway -X -baselineOnMigrate=true -configFiles=/opt/flyway-migrations/auth/flyway-auth.conf -table=flyway_custom_schema_history migrate&quot;
            sleep(time:1,unit:&quot;SECONDS&quot;)
        }
    }
    stage(&apos;Dictionary Migrations&apos;) {
        script {
            echo &quot;Migrating Dictionary Database&quot;
            def result = build job: &apos;Migrate Dictionary Database&apos;, parameters: [
                    [$class: &apos;StringParameterValue&apos;, name: &apos;git_hash&apos;, value: psa_ref]
            ]
        }
    }
    stage(&apos;Record Migration Input&apos;) {
        writeFile file: &apos;migration-release-control-commit.txt&apos;, text: params.release_control_commit + &apos;\n&apos;
        archiveArtifacts artifacts: &apos;migration-release-control-commit.txt&apos;, fingerprint: true
    }
    stage(&apos;Clean Workspace&apos;){
        cleanWs()
    }

}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
