<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build the PSAMA image (hms-dbmi/psama) from the PIC-SURE Maven Build reactor workspace. Build/tag only; deploy happens exclusively via Stop/Start PIC-SURE. Job name kept for pipeline/history compatibility; the repo jenkinsfile it once ran is deleted.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>pipeline_build_id</name>
          <defaultValue>MANUAL_RUN</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e

MAVEN_WS=&quot;/var/jenkins_home/workspace/PIC-SURE Maven Build&quot;
AUTH_DIR=&quot;$MAVEN_WS/services/pic-sure-auth-microapp&quot;

if [ -f &quot;/usr/local/docker-config/setProxy.sh&quot; ]; then
   . /usr/local/docker-config/setProxy.sh
fi

if [ ! -f &quot;$MAVEN_WS/build-info.txt&quot; ] || ! ls &quot;$AUTH_DIR&quot;/pic-sure-auth-services/target/pic-sure-auth-services-*.jar &gt;/dev/null 2&gt;&amp;1; then
  echo &quot;ERROR: no reactor artifacts found -- run &apos;PIC-SURE Maven Build&apos; first&quot;
  exit 2
fi
. &quot;$MAVEN_WS/build-info.txt&quot;

docker build -f &quot;$AUTH_DIR/pic-sure-auth-services/Dockerfile&quot; \
  --build-arg http_proxy=$http_proxy --build-arg https_proxy=$http_proxy --build-arg no_proxy=&quot;$no_proxy&quot; \
  --build-arg HTTP_PROXY=$http_proxy --build-arg HTTPS_PROXY=$http_proxy --build-arg NO_PROXY=&quot;$no_proxy&quot; \
  -t &quot;hms-dbmi/psama:${GIT_BRANCH_SHORT}_${GIT_COMMIT_SHORT}&quot; &quot;$AUTH_DIR&quot;
docker tag &quot;hms-dbmi/psama:${GIT_BRANCH_SHORT}_${GIT_COMMIT_SHORT}&quot; hms-dbmi/psama:LATEST
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
