<?xml version='1.1' encoding='UTF-8'?>
<project>
    <actions/>
    <description>
        This job is used to update the banner_config.json file on the Jenkins server.
        The file is used by the Jenkins Docker container to display the banner on the website.
    </description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.FileParameterDefinition>
                    <name>banner_config.json</name>
                    <description>Upload the banner_config.json file</description>
                </hudson.model.FileParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>#!/bin/bash
                # Replace /usr/local/docker-config with the actual path where you want to copy the file
                cp "${WORKSPACE}/banner_config.json" /usr/local/docker-config/httpd/banner_config.json
            </command>
        </hudson.tasks.Shell>
    </builders>
    <publishers/>
    <buildWrappers/>
</project>