<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build the PIC-SURE Visualization image (hms-dbmi/pic-sure-visualization) from the PIC-SURE Maven Build reactor workspace. Build/tag only; deploy happens exclusively via Stop/Start PIC-SURE. Converted from the repo jenkinsfile (deleted) to freestyle.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>pipeline_build_id</name>
          <defaultValue>MANUAL_RUN</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -e

MAVEN_WS=&quot;/var/jenkins_home/workspace/PIC-SURE Maven Build&quot;

if [ -f &quot;/usr/local/docker-config/setProxy.sh&quot; ]; then
   . /usr/local/docker-config/setProxy.sh
fi

if [ ! -f &quot;$MAVEN_WS/build-info.txt&quot; ] || ! ls &quot;$MAVEN_WS&quot;/services/pic-sure-visualization-service/target/pic-sure-visualization-service-*.jar &gt;/dev/null 2&gt;&amp;1; then
  echo &quot;ERROR: no reactor artifacts found -- run &apos;PIC-SURE Maven Build&apos; first&quot;
  exit 2
fi
. &quot;$MAVEN_WS/build-info.txt&quot;
if [ &quot;${PIPELINE_BUILD_ID:-}&quot; != &quot;$pipeline_build_id&quot; ]; then
  echo &quot;ERROR: reactor artifacts belong to pipeline &apos;${PIPELINE_BUILD_ID:-unknown}&apos;, expected &apos;$pipeline_build_id&apos;&quot;
  exit 2
fi

PROXY_ARGS=&quot;&quot;
if [ -n &quot;${http_proxy:-}&quot; ]; then
  PROXY_ARGS=&quot;--build-arg http_proxy=$http_proxy --build-arg https_proxy=$http_proxy --build-arg HTTP_PROXY=$http_proxy --build-arg HTTPS_PROXY=$http_proxy&quot;
fi
if [ -n &quot;${no_proxy:-}&quot; ]; then
  PROXY_ARGS=&quot;$PROXY_ARGS --build-arg no_proxy=$no_proxy --build-arg NO_PROXY=$no_proxy&quot;
fi

docker build $PROXY_ARGS -t &quot;hms-dbmi/pic-sure-visualization:${GIT_BRANCH_SHORT}_${GIT_COMMIT_SHORT}&quot; \
  &quot;$MAVEN_WS/services/pic-sure-visualization-service&quot;
docker tag &quot;hms-dbmi/pic-sure-visualization:${GIT_BRANCH_SHORT}_${GIT_COMMIT_SHORT}&quot; hms-dbmi/pic-sure-visualization:LATEST
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
