<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>docker stop hpds &amp;&amp; docker rm hpds
docker run --name=hpds --restart always --network=picsure \
-v /usr/local/docker-config/hpds:/opt/local/hpds \
-v /usr/local/docker-config/hpds/all:/opt/local/hpds/all \
--entrypoint=java \
-d hms-dbmi/pic-sure-hpds:LATEST -XX:+UseParallelGC -XX:SurvivorRatio=250 -Xms1g -Xmx16g -server -jar hpds.jar -httpPort 8080 -DCACHE_SIZE=15000 -DSMALL_TASK_THREADS=1 -DLARGE_TASK_THREADS=1 -DSMALL_JOB_LIMIT=100 -DID_BATCH_SIZE=2000 &quot;-DALL_IDS_CONCEPT=NONE&quot;  &quot;-DID_CUBE_NAME=NONE&quot;

docker stop httpd &amp;&amp; docker rm httpd
docker run --name=httpd --restart always --network=picsure \
-v /var/log/httpd-docker-logs/:/usr/local/apache2/logs/ \
-v /usr/local/docker-config/httpd/picsureui_settings.json:/usr/local/apache2/htdocs/picsureui/settings/settings.json \
-v /usr/local/docker-config/httpd/psamaui_settings.json:/usr/local/apache2/htdocs/psamaui/settings/settings.json \
-v /usr/local/docker-config/httpd/cert:/usr/local/apache2/cert/ \
-v /usr/local/docker-config/httpd/httpd-vhosts.conf:/usr/local/apache2/conf/extra/httpd-vhosts.conf \
-p 80:80 \
-p 443:443 \
-d hms-dbmi/pic-sure-ui-overrides:LATEST
docker exec httpd sed -i &apos;/^#LoadModule proxy_wstunnel_module/s/^#//&apos; conf/httpd.conf
docker restart httpd

docker stop wildfly &amp;&amp; docker rm wildfly
WILDFLY_JAVA_OPTS=&quot;-Xms2g -Xmx4g -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -Djava.net.preferIPv4Stack=true&quot;
docker run --name=wildfly --restart always --network=picsure -u root \
-v /var/log/wildfly-docker-logs/:/opt/jboss/wildfly/standalone/log/ \
-v /usr/local/docker-config/wildfly/standalone.xml:/opt/jboss/wildfly/standalone/configuration/standalone.xml \
-v /usr/local/docker-config/wildfly/wildfly_mysql_module.xml:/opt/jboss/wildfly/modules/system/layers/base/com/sql/mysql/main/module.xml  \
-v /usr/local/docker-config/wildfly/mysql-connector-java-5.1.38.jar:/opt/jboss/wildfly/modules/system/layers/base/com/sql/mysql/main/mysql-connector-java-5.1.38.jar \
-v /var/log/wildfly-docker-os-logs/:/var/log/ \
-e JAVA_OPTS=&quot;$WILDFLY_JAVA_OPTS&quot; -d hms-dbmi/pic-sure-wildfly:LATEST
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
