<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions />
  <description />
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>OUTBOUND_EMAIL_USER</name>
          <description>The user account of an smtp service (default gmail) to use for sending mail</description>
          <defaultValue>__YOUR_EMAIL@DOMAIN.ORG__</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EMAIL_FROM</name>
          <description>The name that should be displayed as the outbound account.  If not supplied, this is the same as the email address provided.</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OUTBOUND_EMAIL_USER_PASSWORD</name>
          <description>Password for the gmail account used to send mail</description>
          <defaultValue>__YOUR_EMAIL_PASSWORD__</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM" />
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers />
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export oldpassword=`grep '^EMAIL_PASSWORD=' /usr/local/docker-config/psama/psama.env | cut -d '=' -f 2-`
		export olduser=`grep '^EMAIL_ADDRESS=' /usr/local/docker-config/psama/psama.env | cut -d '=' -f 2-`
		export oldfrom=`grep '^USER_ACTIVATION_REPLY_TO=' /usr/local/docker-config/psama/psama.env | cut -d '=' -f 2-`


if [ -n "$OUTBOUND_EMAIL_USER_PASSWORD" ] &amp;&amp; [ -n "$oldpassword" ] ; then
	sed -i "s/$oldpassword/$OUTBOUND_EMAIL_USER_PASSWORD/g" /usr/local/docker-config/psama/psama.env
fi
if [ -n "$OUTBOUND_EMAIL_USER" ] &amp;&amp; [ -n "$olduser" ] ; then
	sed -i "s/$olduser/$OUTBOUND_EMAIL_USER/g" /usr/local/docker-config/psama/psama.env
fi
if [ -n "$EMAIL_FROM" ] &amp;&amp; [ -n "$oldfrom" ] ; then
	sed -i "s/$oldfrom/$EMAIL_FROM/g" /usr/local/docker-config/psama/psama.env
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers />
  <buildWrappers />
</project>