<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>OUTBOUND_EMAIL_USER</name>
          <description>The user account of an smtp service (default gmail) to use for sending mail</description>
          <defaultValue>__YOUR_EMAIL@DOMAIN.ORG__</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EMAIL_FROM</name>
          <description>The name that should be displayed as the outbound account.  If not supplied, this is the same as the email address provided.</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OUTBOUND_EMAIL_USER_PASSWORD</name>
          <description>Password for the gmail account used to send mail</description>
          <defaultValue>__YOUR_EMAIL_PASSWORD__</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sed -i -E &apos;s#&lt;mail-session name=&quot;([^&quot;]*?)&quot; from=&quot;([^&quot;]*?)&quot; jndi-name=&quot;([^&quot;]*?)&quot; debug=&quot;([^&quot;]*?)&quot;&gt;#&lt;mail-session name=&quot;\1&quot; from=&quot;&apos;&quot;$EMAIL_FROM&quot;&apos;&quot; jndi-name=&quot;\3&quot; debug=&quot;\4&quot;&gt;#g&apos; /usr/local/docker-config/wildfly/standalone.xml
sed -i -E &apos;s#&lt;smtp-server outbound-socket-binding-ref=&quot;([^&quot;]*?)&quot; tls=&quot;([^&quot;]*?)&quot; username=&quot;([^&quot;]*?)&quot; password=&quot;([^&quot;]*?)&quot; /&gt;#&lt;smtp-server outbound-socket-binding-ref=&quot;\1&quot; tls=&quot;\2&quot; username=&quot;&apos;&quot;$USER&quot;&apos;&quot; password=&quot;&apos;&quot;$PASSWORD&quot;&apos;&quot; /&gt;#g&apos; /usr/local/docker-config/wildfly/standalone.xml
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>