<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>AUTH0_CLIENT_ID</name>
          <description></description>
          <defaultValue>__PIC_SURE_CLIENT_ID__</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AUTH0_CLIENT_SECRET</name>
          <description></description>
          <defaultValue>__PIC_SURE_CLIENT_SECRET__</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AUTH0_TENANT</name>
          <description></description>
          <defaultValue>avillachlab</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export old_client_id=`cat /usr/local/docker-config/httpd/psamaui_settings.json | grep client_id | cut -d &apos;:&apos; -f 2 | sed &apos;s/\&quot;,*//g&apos;`
export old_client_secret=`cat /usr/local/docker-config/wildfly/standalone.xml | grep client_secret | cut -d &apos;=&apos; -f 3 | sed &apos;s/[\&quot;/\&gt;]//g&apos;`
export old_tenant=`cat /usr/local/docker-config/httpd/psamaui_settings.json | grep auth0domain | cut -d &apos;:&apos; -f 2 | sed &apos;s/\&quot;,*//g&apos;`

sed -i &quot;s/$old_client_secret/$AUTH0_CLIENT_SECRET/g&quot; /usr/local/docker-config/wildfly/standalone.xml
sed -i &quot;s/$old_client_id/$AUTH0_CLIENT_ID/g&quot; /usr/local/docker-config/wildfly/standalone.xml
sed -i &quot;s/$old_client_id/$AUTH0_CLIENT_ID/g&quot; /usr/local/docker-config/httpd/psamaui_settings.json
sed -i &quot;s/$old_tenant/$AUTH0_TENANT/g&quot; /usr/local/docker-config/httpd/psamaui_settings.json
sed -i &quot;s/$old_tenant/$AUTH0_TENANT/g&quot; /usr/local/docker-config/wildfly/standalone.xml

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>