<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.diagnostics.RootUrlNotSetMonitor</string>
    <string>jenkins.diagnostics.SecurityIsOffMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.235.2</version>
  <installStateName>RUNNING</installStateName>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name>JDK-11</name>
      <home>/opt/java/openjdk/</home>
      <properties/>
    </jdk>
    <jdk>
      <name>JDK-21</name>
      <home>/opt/java/jdk-21.0.1/</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Builds</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>PIC-SURE Aggregate Resource Build</string>
        <string>PIC-SURE Frontend Build</string>
        <string>PIC-SURE Auth Micro-App Build - Jenkinsfile</string>
        <string>PIC-SURE Build and Deploy Uploader</string>
        <string>Build Passthru Image</string>
        <string>Create PIC-SURE Visualization Build</string>
        <string>PIC-SURE Dictionary API Build and Deploy</string>
        <string>PIC-SURE Dictionary-ETL Build</string>
        <string>PIC-SURE Pipeline</string>
        <string>PIC-SURE Wildfly Image Build</string>
        <string>PIC-SURE-API Build</string>
        <string>PIC-SURE-HPDS Build</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Deployment</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>Check For Updates</string>
        <string>PIC-SURE Pipeline</string>
        <string>Start PIC-SURE</string>
        <string>Stop PIC-SURE</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Configuration</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>Configure Auth0 Integration</string>
        <string>Configure Google Analytics</string>
        <string>Configure Institution Node</string>
        <string>Configure Outbound Email Settings</string>
        <string>Configure PIC-SURE Token Introspection Token</string>
        <string>Configure Proxy</string>
        <string>Configure Remote MySQL Instance</string>
        <string>Configure SSL Certificates</string>
        <string>Configure SSLOffload</string>
        <string>Configure TOS</string>
        <string>Create Custom Login (IDP) Connection</string>
        <string>Create Self-Signed SSL Certificate</string>
        <string>Import Server Cert to TrustStore</string>
        <string>Update User Token</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>_ Developer Support</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>Backup Jenkins Home</string>
        <string>Create PIC-SURE Aggregate Resource</string>
        <string>Create PIC-SURE Visualization Build</string>
        <string>Create Self-Signed SSL Certificate</string>
        <string>Download PSAMA Configuration</string>
        <string>Export builds</string>
        <string>Replace Frontend</string>
        <string>Update User Token</string>
        <string>Upload HPDS-ETL Dataset Configuration</string>
        <string>Upload PSAMA Configuration</string>
        <string>Upload Uploader .env File</string>
        <string>Export Jenkins Jobs</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Load Data</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="java.lang.String$CaseInsensitiveComparator"/>
        <string>Dictionary ETL - Initial Load</string>
        <string>Dictionary ETL - Load Dictionary from HPDS API</string>
        <string>Dictionary ETL - Pull GIC Facet Ingestion Files from Git</string>
        <string>Load HPDS and Dictionary Data</string>
        <string>Load HPDS Data From CSV</string>
        <string>Load HPDS Data From Multiple Files</string>
        <string>Load HPDS Data From RDBMS</string>
        <string>Load Staged Genomic Data</string>
        <string>Load VCF Data</string>
        <string>Run Dictionary Weights</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Database</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="java.lang.String$CaseInsensitiveComparator" reference="../../../listView[5]/jobNames/comparator"/>
        <string>Migrate Dictionary Database</string>
        <string>PIC-SURE Database Migrations</string>
        <string>PIC-SURE Database Repair</string>
        <string>Repair Dictionary Database</string>
        <string>Run Dictionary Weights</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>Deployment</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../views/listView/jobNames/comparator"/>
          </default>
          <int>7</int>
          <string>release_control_branch</string>
          <string>*/master</string>
          <string>release_control_repo</string>
          <string>__RELEASE_CONTROL_REPO__</string>
          <string>DOCKER_CONFIG_DIR</string>
          <string>/usr/local/docker-config/</string>
          <string>MYSQL_NETWORK</string>
          <string>picsure</string>
          <string>MYSQL_CONFIG_DIR</string>
          <string>/usr/local/docker-config/picsure-db/</string>
          <string>MIGRATION_REPO</string>
          <string>https://github.com/hms-dbmi/PIC-SURE-Migrations</string>
          <string>MIGRATION_NAME</string>
          <string>__PROJECT_SPECIFIC_MIGRATION_NAME__</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
  <nodeRenameMigrationNeeded>true</nodeRenameMigrationNeeded>
</hudson>
