<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
if [ -f &quot;/usr/local/docker-config/setProxy.sh&quot; ]; then
   . /usr/local/docker-config/setProxy.sh
fi

yum install -y zip
rm -rf *
rm -rf /usr/local/docker-config/wildfly/deployments/*
cat &lt;&lt;EOM &gt; jboss-deployment-structure.xml
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;jboss-deployment-structure&gt;
        &lt;deployment&gt;
        &lt;exclusions&gt;
            &lt;module name=&quot;org.jboss.resteasy.resteasy-jackson2-provider&quot; /&gt;
        &lt;/exclusions&gt;
        &lt;exclude-subsystems&gt;
    &lt;/exclude-subsystems&gt;
    &lt;/deployment&gt;
&lt;/jboss-deployment-structure&gt;
EOM
chmod 777 jboss-deployment-structure.xml
echo &quot;&quot;
cp &quot;/var/jenkins_home/workspace/PIC-SURE-API Build/pic-sure-api-war/target/pic-sure-api-war.war&quot; pic-sure-api-war.war
cp &quot;/var/jenkins_home/workspace/PIC-SURE Auth Micro-App Build/pic-sure-auth-services/target/pic-sure-auth-services.war&quot; pic-sure-auth-services.war

chmod 777 pic-sure-api-war.war pic-sure-auth-services.war

unzip pic-sure-api-war.war 
rm -rf pic-sure-api-war.war
cp jboss-deployment-structure.xml WEB-INF/
zip -r pic-sure-api-war.war WEB-INF/ META-INF/
rm -rf WEB-INF/ META-INF/

unzip pic-sure-auth-services.war
cp jboss-deployment-structure.xml WEB-INF/
rm -rf  pic-sure-auth-services.war
zip -r pic-sure-auth-services.war WEB-INF/ META-INF/
rm -rf WEB-INF/ META-INF/

chmod 777 pic-sure-api-war.war pic-sure-auth-services.war

cp pic-sure-auth-services.war /usr/local/docker-config/wildfly/deployments/pic-sure-auth-services.war
cp pic-sure-api-war.war /usr/local/docker-config/wildfly/deployments/pic-sure-api-2.war

rm -rf pic-sure-auth-services.war pic-sure-api-war.war</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>